body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 6, 243);
  margin-top: 60px;
  margin-bottom: 60px;
}
#main-container {
  height: 1120px;
  width: 1700px;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(255, 238, 09) 0px 0px 100px;
}
#header-container {
  text-align: center;
  font-family: "Pacifico", cursive;
  height: 170px;
  width: 1700px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 30, 111);
  color: rgb(224, 235, 252);
  text-shadow: rgb(255, 238, 09) 0px 0px 30px;
}
.stars {
  z-index: 1;
}
#stars-right {
  transform: scaleX(-1);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  height: 700px;
  width: 1200px;
  background-color: rgba(145, 134, 206, 0.666);
  box-shadow: rgb(255, 238, 09) 0px 0px 100px;
  border: rgba(29, 26, 85, 0.618) solid 25px;
  border-radius: 15%;
  font-family: "Indie Flower", cursive;
  color: rgb(224, 235, 252);
}
#modal-one-text {
  padding: 100px 50px 0 50px;
  font-size: 40px;
}
main {
  height: 770px;
  width: 1700px;
  background-image: url("images/background.png");
  background-size: contain;
}

canvas {
  height: 770px;
  width: 1700px;
  z-index: 2;
}
#footer-container {
  height: 190px;
  width: 1700px;
  display: flex;
}
#left-bottom-box,
#right-bottom-box {
  height: 190px;
  width: 360px;
  background-color: rgb(29, 26, 85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
#center-bottom-box {
  height: 190px;
  width: 1000px;
  background-color: rgb(29, 26, 85);
  font-family: "Indie Flower", cursive;
  color: rgb(224, 235, 252);
  font-size: 32px;
  text-align: center;
}
button {
  width: 300px;
  height: 50px;
  font-family: "Pacifico", cursive;
  font-size: 35px;
  background-color: rgb(52, 127, 152);
  outline: none;
  color: rgb(224, 235, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(255, 238, 09) 0px 0px 14px;
}
button:hover {
  background-color: rgba(255, 254, 200);
  color: rgb(29, 26, 85);
}
#timer {
  font-family: "Pacifico", cursive;
  font-size: 120px;
  color: rgb(224, 235, 252);
  text-shadow: rgb(255, 238, 09) 0px 0px 20px;
}
